*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #6f6f6f;
}

.myntra_home{
    height: 45px;
}

.logo_container{
    margin-left: 3%;
}

.action_bar{
    margin-right: 3%;
}

.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}

.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 0;
    border-bottom: 3px solid white;
}

.nav_bar a:hover {
    border-bottom: 3px solid #f54e77;
}

.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar{
height: 40px;
min-width: 200px;
width: 30%;
display: flex;
align-items: center;
}

.search_icon{
box-sizing: content-box;
height: 20px;
padding: 10px;
background-color: #f5f5f6;
color: #282c3f;
font-weight: 300;
border-radius: 4px 0 0 4px;
}

.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius:  0 4px 4px 0;
}

.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------------------------main ----------------------------*/
.banner_container{
    margin: 40px 0;
}

.banner_image {
    max-width: 100%;
}

.category_heading {
text-transform: uppercase;
color: #3e4152;
letter-spacing: .15em;
font-size: 1.8em;
margin: 50px 0 10px 30px;
max-height: 5em;
font-weight: 700;
}

.category_item{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.sale_item{
width: 250px;

}


.footer_container{
    padding: 30px 0 40px 0px;
    background-color: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}

.footer_column{
    display: flex;
    flex-direction: column;
}

.footer_column h3{
 color: #282c3f;
 font-size: 14px;
 margin-bottom: 25px;   
}

.footer_column a{
    font-size: 15px;
    color: #696b79;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright{
    color: #94969f;
    text-align: center;
    padding: 15px;
}
